[submodule "wgpu02"]
	path = wgpu02
	url = https://github.com/jack1232/wgpu02
[submodule "wgpu03"]
	path = wgpu03
	url = https://github.com/jack1232/wgpu03
[submodule "wgpu04"]
	path = wgpu04
	url = https://github.com/jack1232/wgpu04
[submodule "wgpu05"]
	path = wgpu05
	url = https://github.com/jack1232/wgpu05
[submodule "wgpu06"]
	path = wgpu06
	url = https://github.com/jack1232/wgpu06
[submodule "wgpu07"]
	path = wgpu07
	url = https://github.com/jack1232/wgpu07
[submodule "wgpu08"]
	path = wgpu08
	url = https://github.com/jack1232/wgpu08
[submodule "wgpu09"]
	path = wgpu09
	url = https://github.com/jack1232/wgpu09
[submodule "wgpu10"]
	path = wgpu10
	url = https://github.com/jack1232/wgpu10
